<div class="d-flex flex-column text-center title" id="prevent-login">
  <h2 class="title">
  Please Log in to Manage Your Tasks
  </h2>
  <div><i class="fas fa-cloud-moon fa-4x mt-5"></i></div>
</div>
