<div class="pb-5 d-flex flex-column align-items-center">

<h1 class="mb-3 title text-center">Edit Task</h1>

<%= render "form", task: @task%>  

<br />
<% if current_user.admin? && @task.user!=current_user %>
  <%= link_to t('user.admin-text.back-profile'), user_path(@task.user), class:"btn btn-primary mt-4"%>
<% else %>
  <%= link_to t('show.back'), tasks_path, class:"btn btn-primary mt-4"%>
<% end %>
</div>
