<%= link_to root_path do %><h1 class="mb-3 text-center title">Task Manager</h1><% end %>
<% if logged_in? %>
  <%= render "tasklist", tasks: @tasks %>
<% else %>
  <%= render "prevent_login" %>  
<% end %>