<div class="pb-5 d-flex flex-column align-items-center">

<h1 class="mb-3 title text-center">Edit Label</h1>

<%= render "form", label: @label %>

<br />

<%= link_to t('label.back'), labels_path, class:"btn btn-primary mt-4"%>

</div>