/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

.bg-light {
  background-color: #e6eaff !important;
}

a {
  text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6 {
 font-weight: normal;
 color: #6B6A80;
}

body {
  font-family: "Quicksand", sans-serif !important;
  background: #e6eaff;
  font-weight: normal !important;
}

.alert{
  width: 50%!important;
  text-align: center;
}

.btn-primary {
  color: #e6eaff !important;
}

a,
.btn-outline-secondary {
  color: #666DBD !important;
}

.btn-primary {
  background-color: #666DBD !important;
  border: none !important;
}

.btn-outline-primary, .input-outline-primary {
  color: #3B3742 !important;
  border-color: #3B3742 !important;
}

.btn-outline-primary:hover {
  color: #e6eaff !important;
  background-color: #3B3742 !important;
}

.btn-outline-secondary {
  border-color: #666dbd !important;
  background-color: transparent !important;
}

.btn-outline-secondary:hover {
  background-color: #666dbd !important;
  color: #e6eaff !important;
}

.status-2 {
  background-color: #84c4eb;
}

.status-1 {
  background-color: #a0db9a;
}

.status-0 {
  background-color: #ebbc75;
}

.priority-2 {
  background-color: #eb8484;
}

.priority-1 {
  background-color: #ebbc75;
}

.priority-0 {
  background-color: #93eb8a;
}

.badge {
  font-size: 0.9rem !important;
}

table {
 color: #514C5C !important;
}

.table {
  --bs-table-hover-bg: #f5f8ff !important;
}

.rounded {
  border-radius: .5rem !important;
}

.title,
.filter-title,
input#q_title_cont::placeholder,
input#q_labels_name_cont::placeholder {
 color: #6B6A80 !important;
}

html {
  min-height: 100% !important;
}

body > div.container.pt-5 > nav {
  display: flex;
  justify-content: center;
}

.panel {
  border-radius: .5rem !important;
  background-color: rgba(255, 255, 255, 0.5);
}

#prevent-login {
  height: 30rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.page-item .disabled, .page-item .page-link {
  background: rgba(255, 255, 255, 0.7)!important;
}

.page-item .disabled:hover, .page-item .page-link:hover {
  background-color: #f5f8ff;
  border-color: #f5f8ff;
}

.page-item.active .page-link {
  z-index: 3;
  color: #f5f8ff !important;
  background-color: rgba(134, 168, 231, 1) !important;
  border-color: rgba(134, 168, 231, 1) !important;
}

input#q_title_cont,
select#q_status_eq,
input#q_labels_name_cont {
  background-color: transparent;
  color: #3B3742;
}

.label_colors0{
  background-color: #d6b2d1;
}
.label_colors1{
  background-color: #d9a7a7;
}
.label_colors2{
  background-color: #dec19e;
}
.label_colors3{
  background-color: #a7c9ba;
}
.label_colors4{
  background-color: #9db2d1;
}
.label_colors5{
  background-color: #9f9fcf;
}
.label_colors6{
  background-color: #ab8ebf;
}
#label-select > div > span > span.selection > span{
  width: 500px;
  margin-left: 20px;
}
